<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}EmpresaPac{% endblock %}</title>

    </head>


    <body>

        {% block body %}


            <a class="nav-link" href="{{ path('app_buscar') }}">Buscar Transportista</a>


        {% endblock %}


    </body>
</html>
